{% set activePage = 'schedule' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Meet Results{% endblock %}

{% block content %}
  <div class="page-header pbn"><h4>Athlete Event Result Entry</h4></div>

  <div>
    <h5>
      {{ meetDetails.meetName }}
      {% if meetDetails.meetSubName %}{{ meetDetails.meetSubName }}{% endif %}
      - {{ meetDetails.meetDate }}
    </h5>
  </div>

  <div class="pbl">
    {{ meetDetails.locName }}<br>
    {{ meetDetails.locCity }}, {{ meetDetails.locState }}<br>
    {% if meetDetails.resultsURL %}<a href="{{ meetDetails.resultsURL }}" target="_blank">Live Results</a>{% endif %}
  </div>

  <!-- Button trigger individual event modal -->
  <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addEventModal">
    Add Athlete Event
  </button>

  <!-- Add Athlete Event Modal -->
  <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Athlete Event</h4>
        </div>
        <form name="addEvent" method="post">
          <div class="modal-body">
            <fieldset>
              <input type="hidden" name="trackMeetId" value="{{ meetId }}">
              <input type="hidden" name="formType" value="event">
              <div class="row">
                <div class="col-md-4 text-right">Select athlete:</div>
                <div class="col-md-4">
                  <select name="studentId">
                    <option value="">--Select--</option>
                    {% for athlete in athletes %}
                      <option value="{{ athlete.studentId }}">{{ athlete.studentName }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 text-right">Event:</div>
                <div class="col-md-4">
                  <select name="trackEventTypeId">
                    <option value="">--Select--</option>
                    {% for event in events if event.raceType == 'individual' %}
                      <option value="{{ event.trackEventTypeId }}">{{ event.eventName }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 text-right">Gender:</div>
                <div class="col-md-4">
                  <select name="eventGender">
                    <option value="">--Select--</option>
                    <option value="Boys">Boys</option>
                    <option value="Girls">Girls</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 text-right">Type:</div>
                <div class="col-md-4">
                  <select name="eventSubType">
                    <option value="">None</option>
                    <option value="Varsity">Varsity</option>
                    <option value="JV">JV</option>
                    <option value="Frosh-Soph">Frosh-Soph</option>
                    <option value="Frosh">Frosh</option>
                    <option value="Soph">Soph</option>
                    <option value="Frosh-Soph (Invitational)">Frosh-Soph (Invitational)</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addRelayModal">
    Add Relay Team
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addRelayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Relay Team</h4>
        </div>
        <form name="addEvent" method="post">
          <div class="modal-body">
            <fieldset>
              <input type="hidden" name="trackMeetId" value="{{ meetId }}">
              <input type="hidden" name="formType" value="relay">
              <div class="row">
                <div class="col-md-4 text-right">Event:</div>
                <div class="col-md-4">
                  <select name="trackEventTypeId">
                    <option value="">--Select--</option>
                    {% for event in events if event.raceType == 'relay' %}
                      <option value="{{ event.trackEventTypeId }}">{{ event.eventName }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 text-right">Gender:</div>
                <div class="col-md-4">
                  <select name="eventGender">
                    <option value="">--Select--</option>
                    <option value="Boys">Boys</option>
                    <option value="Girls">Girls</option>
                    <option value="Girls">Mixed</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 text-right">Type:</div>
                <div class="col-md-4">
                  <select name="eventSubType">
                    <option value="">None</option>
                    <option value="Varsity">Varsity</option>
                    <option value="JV">JV</option>
                    <option value="Frosh-Soph">Frosh-Soph</option>
                    <option value="Frosh">Frosh</option>
                    <option value="Soph">Soph</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 text-right">Select athletes:</div>
                <div class="col-md-4">
                  {% for athlete in athletes %}
                    <input type="checkbox" name="studentId[]" value="{{ athlete.studentId }}">&nbsp;&nbsp;{{ athlete.studentName }}</input><br>
                  {% endfor %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 text-right">Team Name (optional):</div>
                <div class="col-md-4">
                  <input type="text" name="relayTeamName">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ptl">
    <div class="pvs"><img src="/assets/images/icons/gold_medal.png" width="25" height="25"> - Won medal</div>
    <div class="pvs"><img src="/assets/images/icons/red_star.png" width="25" height="25"> - Set school record</div>
    <div class="pvs"><img src="/assets/images/icons/blue_star.png" width="25" height="25"> - Set personal record</div>
  </div>

  {% for event in meetResults.individual %}
    <div class="page-header pbn">
      <h4>
        {{ event.eventGender }}
        {% if event.eventSubType %}{{ event.eventSubType }}{% endif %}
        {{ event.eventName }}
      </h4>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Athlete</th>
        {% if event.eventType == 'race' %}<th class="text-center">Heat</th>{% endif %}
        <th class="text-right">Result</th>
        <th class="text-center">Place</th>
        <th class="text-center">Overall</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      {% for result in event.results %}
        <tr>
          <td class="text-nowrap">
            {{ result.firstName }} {{ result.lastName }}
            {% if result.medaled %}
              {% if result.overallPlace == 1 %}
                <img src="/assets/images/icons/gold_medal.png" width="20" height="20">
              {% elseif result.overallPlace == 2 %}
                <img src="/assets/images/icons/silver_medal.png" width="20" height="20">
              {% else %}
                <img src="/assets/images/icons/bronze_medal.png" width="20" height="20">
              {% endif %}
            {% endif %}

            {% if result.setSchoolRecord %}
              <img src="/assets/images/icons/red_star.png" width="20" height="20">
            {% endif %}

            {% if result.setPersonalRecord %}
              <img src="/assets/images/icons/blue_star.png" width="20" height="20">
            {% endif %}
          </td>
          {% if event.eventType == 'race' %}<td class="text-center">{{ result.heatNumber }}</td>{% endif %}
          <td class="text-nowrap text-right">{{ result.result ?: 'n/a' }}</td>
          <td class="text-center">{{ result.place }}</td>
          <td class="text-center">{{ result.overallPlace }}</td>
          <td class="text-right">
            <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#updateModal{{ result.trackStudentEventId }}">
              Update Result
            </button>

            <!-- Modal -->
            <div class="modal fade text-left" id="updateModal{{ result.trackStudentEventId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                      {{ event.eventGender }}
                      {{ event.eventName }} &mdash;
                      {{ result.firstName }} {{ result.lastName }}
                    </h4>
                  </div>
                  <form name="addEvent{{ result.trackStudentEventId }}" method="post">
                    <div class="modal-body">
                      <fieldset>
                        <input type="hidden" name="trackEventId" value="{{ event.trackEventId }}">
                        <input type="hidden" name="trackStudentEventId" value="{{ result.trackStudentEventId }}">
                        <input type="hidden" name="eventType" value="{{ event.eventType }}">
                        <input type="hidden" name="formType" value="result">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <strong>Enter result:</strong>
                          </div>
                          <div class="col-md-6 text-left">
                            {% if event.eventType == 'field' %}
                              <input type="text" name="resultFeet" id="resultFeet" value="0" size="2"> <label for="resultFeet">ft</label>
                              <input type="text" name="resultInches" id="resultInches" value="0.00" size="4"> <label for="resultInches">in</label>
                            {% else %}
                              <input type="text" name="resultMinutes" id="resultMinutes" value="0" size="2"> <label for="resultMinutes">min</label>
                              <input type="text" name="resultSeconds" id="resultSeconds" value="0.00" size="4"> <label for="resultSeconds">sec</label>
                            {% endif %}
                          </div>
                        </div>

                        {% if event.eventType == 'track' %}
                          <div class="row">
                            <div class="col-md-4 text-right">
                              <label for="heatNumber">Heat number:</label>
                            </div>
                            <div class="col-md-6 text-left">
                              <input type="text" name="heatNumber" id="heatNumber" size="2">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4 text-right">
                              <label for="place">Place in heat:</label>
                            </div>
                            <div class="col-md-6 text-left">
                              <input type="text" name="place" id="place" size="2">
                            </div>
                          </div>
                        {% endif %}

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="overallPlace">Overall place:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="text" name="overallPlace" id="overallPlace" size="2">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="medaled">Medaled?:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="checkbox" name="medaled" id="medaled" value="1">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="setSchoolRecord">Set school record?:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="checkbox" name="setSchoolRecord" id="setSchoolRecord" value="1">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="setPersonalRecord">Set personal record?:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="checkbox" name="setPersonalRecord" id="setPersonalRecord" value="1">
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  {% endfor %}

  {% for event in meetResults.relay %}
    <div class="page-header pbn">
      <h4>
        {{ event.eventGender }}
        {% if event.eventSubType %}{{ event.eventSubType }}{% endif %}
        {{ event.eventName }}
      </h4>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Athletes</th>
        <th class="text-right">&nbsp;</th>
        <th class="text-right">Heat</th>
        <th class="text-right">Result</th>
        <th class="text-center">Place</th>
        <th class="text-center">Overall</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      {% for result in event.results %}
        <tr>
          <td class="text-nowrap">
            {% for member in result.members %}
              {{ member.firstName }} {{ member.lastName }}<br>
            {% endfor %}
          </td>
          <td class="text-center">
            {% if result.medaled %}
              {% if result.overallPlace == 1 %}
                <img src="/assets/images/icons/gold_medal.png" width="20" height="20">
              {% elseif result.overallPlace == 2 %}
                <img src="/assets/images/icons/silver_medal.png" width="20" height="20">
              {% else %}
                <img src="/assets/images/icons/bronze_medal.png" width="20" height="20">
              {% endif %}
            {% endif %}

            {% if result.setSchoolRecord %}
              <img src="/assets/images/icons/red_star.png" width="20" height="20">
            {% endif %}
          </td>
          <td class="text-center">{{ result.heatNumber }}</td>
          <td class="text-nowrap text-right">{{ result.result }}</td>
          <td class="text-center">{{ result.place }}</td>
          <td class="text-center">{{ result.overallPlace }}</td>
          <td>

            <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#updateModal{{ result.trackRelayTeamId }}">
              Update Result
            </button>

            <!-- Modal -->
            <div class="modal fade text-left" id="updateModal{{ result.trackRelayTeamId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                      {{ event.eventGender }}
                      {{ event.eventName }}
                    </h4>

                    <div class="ptm">
                      {% for member in result.members %}
                        {{ member.firstName }} {{ member.lastName }}<br>
                      {% endfor %}
                    </div>

                  </div>
                  <form name="addEvent{{ result.trackRelayTeamId }}" method="post">
                    <div class="modal-body">
                      <fieldset>
                        <input type="hidden" name="trackRelayTeamId" value="{{ result.trackRelayTeamId }}">
                        <input type="hidden" name="formType" value="relayResult">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <strong>Enter result:</strong>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="text" name="resultMinutes" id="resultMinutes" value="0" size="2"> <label for="resultMinutes">min</label>
                            <input type="text" name="resultSeconds" id="resultSeconds" value="0.00" size="4"> <label for="resultSeconds">sec</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="heatNumber">Heat number:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="text" name="heatNumber" id="heatNumber" size="2">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="place">Place in heat:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="text" name="place" id="place" size="2">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="overallPlace">Overall place:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="text" name="overallPlace" id="overallPlace" size="2">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="medaled">Medaled?:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="checkbox" name="medaled" id="medaled" value="1">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label for="setSchoolRecord">Set school record?:</label>
                          </div>
                          <div class="col-md-6 text-left">
                            <input type="checkbox" name="setSchoolRecord" id="setSchoolRecord" value="1">
                          </div>
                        </div>

                      </fieldset>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  {% endfor %}
{% endblock %}
