{% set activePage = 'records' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Records{% endblock %}

{% block content %}
  <div class="page-header pbn">
    <h2>{{ studentName }}'s Track &amp; Field History</h2>
  </div>

  <div style="padding: 5px 0;"><img src="/assets/images/icons/gold_medal.png" width="25" height="25"> - Won medal</div>
  <div style="padding: 5px 0;"><img src="/assets/images/icons/red_star.png" width="25" height="25"> - School record</div>
  <div style="padding: 5px 0;"><img src="/assets/images/icons/blue_star.png" width="25" height="25"> - Personal record</div>

  {% for event in athleteRecords %}
    <div class="page-header pbn">
      <h3>{{ event.eventName }}</h3>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Meet</th>
        <th class="text-center">Result</th>
        <th class="text-center">Overall</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      {% for record in event.records %}
        <tr>
          <td class="col-md-3">{{ record.meetDate }}</td>
          <td class="col-md-4">{{ record.meetName }} {{ record.meetSubName }}</td>
          <td class="col-md-2 text-center">{{ record.result }}</td>
          <td class="col-md-2 text-center">{{ record.overallPlace }}</td>
          <td>
            {% if record.medaled %}
              <a href="#" data-toggle="tooltip" title="Won medal">
              {% if record.overallPlace == 1 %}
                <img src="/assets/images/icons/gold_medal.png" width="20" height="20">
              {% elseif record.overallPlace == 2 %}
                <img src="/assets/images/icons/silver_medal.png" width="20" height="20">
              {% else %}
                <img src="/assets/images/icons/bronze_medal.png" width="20" height="20">
              {% endif %}
              </a>
            {% endif %}

            {% if record.isSchoolRecord %}
              <a href="#" data-toggle="tooltip" title="School Record"><img src="/assets/images/icons/red_star.png" width="20" height="20"></a>
            {% endif %}

            {% if record.isPersonalRecord %}
              <a href="#" data-toggle="tooltip" title="Personal Record"><img src="/assets/images/icons/blue_star.png" width="20" height="20"></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  {% else %}
    <div class="ptl">
      Meet records have not been entered.
    </div>
  {% endfor %}

  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}