{% set activePage = 'athletes' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}{{ selectedSeason }} Athletes{% endblock %}

{% block content %}
  <form>
    <label for="season">Change Season:</label>
    <select name="season" id="season">
      {% for i in currentSeason..firstSeason %}
        <option value="{{ i }}" {% if i == selectedSeason %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-xs btn-info">Go</button>
  </form>

  <div class="page-header pbn">
    <h2>{{ selectedSeason }} Mavericks</h2>
  </div>

  {% if athletes is empty %}
    <div>
      Athletes have not been entered for this season.
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-5">
      <div class="page-header pbn">
        <h3>Girls</h3>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Athlete</th>
          <th class="text-center">Grade</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for athlete in athletes if athlete.gender == 'F' %}
          <tr>
            <td>{{ athlete.studentName }}</td>
            <td class="text-center">{{ athlete.grade }}th</td>
            <td class="text-right">
              <button type="button" class="btn btn-xs btn-primary">View History</button>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="page-header pbn">
        <h3>Boys</h3>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Athlete</th>
          <th class="text-center">Grade</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for athlete in athletes if athlete.gender == 'M' %}
          <tr>
            <td>{{ athlete.studentName }}</td>
            <td class="text-center">{{ athlete.grade }}th</td>
            <td class="text-right">
              <button type="button" class="btn btn-xs btn-primary">View History</button>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

{% endblock %}