{% set activePage = 'schedule' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Meet Results{% endblock %}

{% block content %}
  <div>
    <h4>{{ meetDetails.meetName }} - {{ meetDetails.meetDate }}</h4>
  </div>
  <div>
    {{ meetDetails.locName }}<br>
    {{ meetDetails.locCity }}, {{ meetDetails.locState }}<br>
    {% if meetDetails.resultsURL %}<a href="{{ meetDetails.resultsURL }}" target="_blank">Live Results</a>{% endif %}
  </div>
  {% for event in meetResults %}
    <div class="page-header" style="padding-bottom: 0;">
      <h4>{{ event.eventGender }} {{ event.eventName }}</h4>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Athlete</th>
          {% if event.eventType == 'race' %}<th class="text-center">Heat</th>{% endif %}
          <th class="text-right">Result</th>
          <th class="text-center">Place</th>
          <th class="text-center">Overall</th>
          <th class="text-center">Medal</th>
        </tr>
      </thead>
      <tbody>

      {% for result in event.results %}
        <tr>
          <td class="text-nowrap">{{ result.firstName }} {{ result.lastName }}</td>
        {% if event.eventType == 'race' %}<td class="text-center">{{ result.heatNumber }}</td>{% endif %}
          <td class="text-nowrap text-right">{{ result.result }}</td>
          <td class="text-center">{{ result.place }}</td>
          <td class="text-center">{{ result.overallPlace }}</td>
          <td class="text-center">
            {% if result.medaled %}
              <img src="/assets/images/icons/medal.png" width="25" height="25">
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  {%  else %}
    <div>Results have not been posted for the meet.</div>
  {% endfor %}
{% endblock %}