{% set activePage = 'schedule' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Meet Results{% endblock %}

{% block content %}
  <div>
    <h4>
      {{ meetDetails.meetName }}
      {% if meetDetails.meetSubName %}{{ meetDetails.meetSubName }}{% endif %}
      - {{ meetDetails.meetDate }}
    </h4>
  </div>
  <div class="pbl">
    {{ meetDetails.locName }}<br>
    {{ meetDetails.locCity }}, {{ meetDetails.locState }}<br>
    {% if meetDetails.resultsURL %}<a href="{{ meetDetails.resultsURL }}" target="_blank">Live Results</a>{% endif %}
  </div>

  {% if meetResults.individual is empty and meetResults.relay is empty %}
    <div>No information has been posted for the meet.</div>
  {% else %}

    <div style="padding: 5px 0;"><img src="/assets/images/icons/gold_medal.png" width="25" height="25"> - Won medal</div>
    <div style="padding: 5px 0;"><img src="/assets/images/icons/red_star.png" width="25" height="25"> - Set school record</div>
    <div style="padding: 5px 0;"><img src="/assets/images/icons/blue_star.png" width="25" height="25"> - Set personal record</div>

<div class="row">
  <div class="col-md-6">
    {% for event in meetResults.individual %}
      <div class="page-header pbn">
        <h4>
          {{ event.eventGender }}
          {% if event.eventSubType %}{{ event.eventSubType }}{% endif %}
          {{ event.eventName }}
        </h4>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Athlete</th>
            {% if event.eventType == 'track' %}
              <th class="text-center">Heat</th>
              <th class="text-center">Place</th>
            {% endif %}
            <th class="text-right">Result</th>
            <th class="text-center">Overall</th>
          </tr>
        </thead>
        <tbody>

        {% for result in event.results %}
          <tr>
            <td class="col-md-6 text-nowrap">
              {{ result.firstName }} {{ result.lastName }}
              {% if result.medaled %}
                {% if result.overallPlace == 1 %}
                  <img src="/assets/images/icons/gold_medal.png" width="20" height="20">
                {% elseif result.overallPlace == 2 %}
                  <img src="/assets/images/icons/silver_medal.png" width="20" height="20">
                {% else %}
                  <img src="/assets/images/icons/bronze_medal.png" width="20" height="20">
                {% endif %}
              {% endif %}

              {% if result.setSchoolRecord %}
                <img src="/assets/images/icons/red_star.png" width="20" height="20">
              {% endif %}

              {% if result.setPersonalRecord %}
                <img src="/assets/images/icons/blue_star.png" width="20" height="20">
              {% endif %}
            </td>
            {% if event.eventType == 'track' %}
              <td class="col-md-2 text-center">{{ result.heatNumber }}</td>
              <td class="col-md-2 text-center">{{ result.place }}</td>
            {% endif %}
            <td class="col-md-3 text-nowrap text-right">{{ result.result ?: 'n/a' }}</td>
            <td class="col-md-2 text-center">{{ result.overallPlace }}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    {% endfor %}

    {% for event in meetResults.relay %}
      <div class="page-header" style="padding-bottom: 0;">
        <h4>
          {{ event.eventGender }}
          {% if event.eventSubType %}{{ event.eventSubType }}{% endif %}
          {{ event.eventName }}</h4>
      </div>

      <table class="table table-striped">
      <thead>
      <tr>
        <th>Athletes</th>
        <th class="text-right">&nbsp;</th>
        <th class="text-right">Heat</th>
        <th class="text-right">Result</th>
        <th class="text-center">Overall</th>
      </tr>
      </thead>
      <tbody>

      {% for result in event.results %}
        <tr>
          <td class="text-nowrap">
            {% for member in result.members %}
              {{ member.firstName }} {{ member.lastName }}<br>
            {% endfor %}
          </td>
          <td class="text-center">
            {% if result.medaled %}
              {% if result.overallPlace == 1 %}
                <img src="/assets/images/icons/gold_medal.png" width="20" height="20">
              {% elseif result.overallPlace == 2 %}
                <img src="/assets/images/icons/silver_medal.png" width="20" height="20">
              {% else %}
                <img src="/assets/images/icons/bronze_medal.png" width="20" height="20">
              {% endif %}
            {% endif %}
            {% if result.setSchoolRecord %}
              <img src="/assets/images/icons/red_star.png" width="20" height="20">
            {% endif %}
          </td>
          <td class="text-center">{{ result.heatNumber }}</td>
          <td class="text-nowrap text-right">{{ result.result }}</td>
          <td class="text-center">{{ result.overallPlace }}</td>
        </tr>
      {% endfor %}

      </tbody>
      </table>
    {% endfor %}
    </div>
  </div>
  {% endif %}

{% endblock %}
