{% set activePage = 'records' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Records{% endblock %}

{% block content %}
  <div class="page-header pbn">
    <h2>{{ title }} Track &amp; Field Records</h2>
  </div>

  {% for event in eventRecords if event.raceType == 'individual' %}
    <div class="page-header pbn">
      <h3>{{ event.eventGender }} {{ event.eventName }}</h3>
    </div>

    <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Athlete</th>
      <th>Record</th>
      <th>Date</th>
      <th>Meet</th>
    </tr>
    </thead>
    <tbody>
    {% for record in event.records %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ record.firstName }} {{ record.lastName }}</td>
        <td>{{ record.result }}</td>
        <td>{{ record.meetDate }}</td>
        <td>{{ record.meetName }} {{ record.meetSubName }}</td>
      </tr>
    {% endfor %}

    </tbody>
    </table>

  {% endfor %}


  {% for event in eventRecords if event.raceType == 'relay' %}
    <div class="page-header pbn">
      <h3>{{ event.eventGender }} {{ event.eventName }}</h3>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Athletes</th>
        <th>Record</th>
        <th>Date</th>
        <th>Meet</th>
      </tr>
      </thead>
      <tbody>
      {% for record in event.records %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>
            {% for athlete in record.members %}
              {{ athlete.firstName }} {{ athlete.lastName }}<br>
            {% endfor %}
          </td>
          <td>{{ record.result }}</td>
          <td>{{ record.meetDate }}</td>
          <td>{{ record.meetName }} {{ record.meetSubName }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

  {% endfor %}

{% endblock %}