{% set activePage = 'schedule' %}
{% extends "Track/base.twig" %}

{% block pageTitle %}Schedule{% endblock %}

{% block content %}

  <div class="col-md-6">
    <table class="table table-striped small">
      <thead>
      <tr>
        <th>Meet</th>
        <th>Date</th>
        <th>Attendance</th>
        <th>Results</th>
      </tr>
      </thead>
      <tbody>
      {% for meet in meetSchedule %}
        <tr>
          <td>
            <div>
              <strong>{{ meet.meetName }}</strong>
            </div>
            <div>
              {{ meet.locName }}&nbsp;&nbsp;
              (<a href="#" data-toggle="collapse" data-target="#address{{ meet.trackMeetId }}">address</a>)
              <div id="address{{ meet.trackMeetId }}" class="collapse">
                <a href="http://maps.google.com/?q={{ meet.locStreet1 }}, {{ meet.locCity }}, {{ meet.locState }}, {{ meet.locZipCode }}"
                   target="_blank">
                  {{ meet.locStreet1 }}<br>
                  {% if meet.locStreet2 %}{{ meet.locStreet2 }}<br>{% endif %}
                  {{ meet.locCity }}, {{ meet.locState }} {{ meet.locZipCode }}
                </a>
              </div>
            </div>
          </td>
          <td class="text-nowrap">{{ meet.meetDate }}, {{ meet.meetTime }}</td>
          <td>
            {% if meet.isOptional == 1 %}Optional{% else %}Mandatory{% endif %}<br>
            {{ meet.teamRequired }}
          </td>
          <td style="vertical-align:middle;">
            <a href="/track/meet/results/{{ meet.trackMeetId }}">
              <button type="button" class="btn btn-xs btn-info">View</button>
            </a>
          </td>
        </tr>
      {% else %}
        <td>No meets have been scheduled.</td>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

